@{ 
    string name = Request["name"];
    if (String.IsNullOrEmpty(name))
    {
        name = "Robert Paulson";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <ul>
        @for (var i = 0; i < 10; i++)
        {
            <li>His name is @name</li>
        }
    </ul>
</body>
</html>
