
@{ 
    string name = "Robert Paulson";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p>@name</p>
    <div>
        @for (var i = 0; i < 10; i++)
        {
            <p>His name is @name</p>
        }
    </div>
</body>
</html>
