@{
    var rules = (List<string>)Session["rules"]; // list of rules stored in Session["rules"]

    if (rules == null)
    {
        rules = new List<string>();
    }

    rules.Add(Request["rule"]);
    Session["rules"] = rules;
    Response.Redirect("~/Rules.cshtml");
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
</body>
</html>
