@{ 
    var rules = (List<string>)Session["rules"]; // list of rules stored in Session["rules"]

    if (rules == null)
    {
        rules = new List<string>();
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <form method="POST" action="~/RedirectRules.cshtml">
            <input type="text" name="rule" />
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div>
        <ul>
        @for (var i = 0; i < rules.Count; i++)
        {
            <li>@rules.ElementAt(i)</li>
        }
        </ul>
    </div>
</body>
</html>
